@import "./_transition.scss";
@import "./_mixin.scss";
@import "./element-ui";
@import 'element-plus/dist/index.css';
@import "normalize.css";

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}


::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgba(0, 0, 0, .2);
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0 !important;
}

.padding-content {
    padding: 4px 0;
}

em {
    font-style: normal;
}

ul,
li {
    list-style: none
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

//page-view全局样式
.page-view {
    padding: 0 0 20px;
    margin: 10px;
    // background: #fff;
}

.filter-container {
    padding: 20px 20px 10px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 5px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    .search-item {
        margin-right: 10px;
        width: 170px;
    }

    .date-range-item {
        width: 240px;
    }

    .el-form-item {
        vertical-align: top;
        margin-bottom: 0 !important;
    }
}

.table-container {
    padding: 20px;
    background: #fff;
    border-radius: 5px;

    .table-operation {
        margin-right: 10px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
    }

}



.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}




// flex class
.flex-left {
    @include display_flex;
}

// 全部居中
.flex-all-center {
    @include display_flex;
    @include justify_content_center;
    @include align_items_center;
}

// 垂直居中
.flex-cross-center {
    @include display_flex;
    @include align_items_center;
}

// 左右靠边换行平均分布
.flex-between-wrap {
    @include display_flex;
    @include flex_wrap;
    @include justify_content_between;
}

// 左右靠边平均分布
.flex-between {
    @include display_flex;
    @include justify_content_between;
}

// 左右靠边平均分布并且纵向剧中
.flex-between-center {
    @include display_flex;
    @include justify_content_between;
    @include align_items_center;
}

// 向后分布
.flex-end {
    @include display_flex;
    @include justify_content_end;
}

// flex换行
.flex-wrap {
    @include flex_wrap;
}

.flex1 {
    @include flex1;
}

/*超出省略*/
.fellip {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}

.fellip2 {
    line-height: 1.5em;
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    word-wrap: normal;
    word-break: break-all;
}